{% load menu_tags %}

<div class="dropdown-menu" > {% comment %}aria-labelledby="navbarDropdown" {% endcomment %}
    {% for child in children %}
        <a class="dropdown-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% comment %}
        {% if child.children %}
            {% show_menu from_level to_level extra_inactive extra_active "custom/nav-items-dropdown.html" "" "" child %}
        {% else %}
            <a class="dropdown-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% endif %}
        {% endcomment %}
    {% endfor %}
</div>

